@reference "../../app/globals.css";

.mainGrid {
  @apply flex h-20 items-center justify-between lg:items-center;
}

@media (min-width: 1024px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}

.tagline {
  @apply hidden uppercase text-muted-foreground sm:text-xs;
  font-size: 10px;
  letter-spacing: 0.1em;
}

@media (min-width: 400px) {
  .tagline {
    display: block;
  }
}
